
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button color="warn" style="margin-left: 320px" (click)="AjoutclientPhysique()" >Ajouter client physique</button>
            <button mat-raised-button color="warn" style="margin-left: 30px"  (click)="AjoutclientMorale()" >Ajouter client morale</button>
                      
            <button mat-raised-button color="warn" style="margin-left: 30px"(click)="clientsPhysiques()" >Clients physiques</button>
            <button mat-raised-button color="warn" style="margin-left: 20px" (click)="clientsMorales()" >Clients morales</button>
            
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Vos clients physiques</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div *ngIf="personne_physique ;else elseBlock">
                       
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    
                                    <th>
                                        Nom
                                    </th>
                                    <th>
                                        Prenom
                                    </th>
                                    <th>
                                        N° Carte identite
                                    </th>
                                    <th>
                                        Statut Fatca
                                    </th>
                                    <th>
                                        Niveau risque
                                    </th>
                                    <th>
                                        Revue
                                    </th>
                                </thead>
                                <tbody>
                                  <tr>
                                      
                                     
                                      <td>{{personne_physique.nom}}</td>
                                      <td>{{personne_physique.prenom}}</td>
                                      <td>{{personne_physique.codeClient}}</td>
                                      <td>{{personne_physique.statutFatca}}</td>
                                      <td>{{personne_physique.niveauRisque}}</td>
                                      <td>{{personne_physique.revue}}</td>

                                      
  
                                      <td class="text-center"><button class="btn btn-primary btn-xs" (click)="details(personne_physique.codeClient)" ><span class="material-icons">article</span> </button></td>
                                      <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deletePP(personne_physique.codeClient)" ><span class="material-icons">delete_outline</span> </button></td>
                                      <td class="text-center"><button mat-stroked-button color="warn" (click)="risque(personne_physique.codeClient)" ><span class="material-icons">
                                        privacy_tip
                                        </span></button>
  
                                    </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
                    <ng-template #elseBlock><p></p><p>Aucun client Moral trouvé ! Veuillez verifier le code saisie.</p></ng-template>

                    </div>
                </div>
            </div>               
        </div>
    </div>
    
  </div>
  